
.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background:#F9813A;
}

.footer__logo img{
    width: calc(100%-80%);
    margin-bottom: 15px;
}

.footer__logo h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}
.footer__logo p {
    font-size: 0.9rem;
    color: #333;
    line-height: 28px;
}
.delivery__time-item {
    background: transparent !important;
}
.delivery__time-item span {
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
.delivery__time-item p {
    color: white;
}

.footer__title {
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
}
.newsletter {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
.newsletter input {
    background-color: transparent;
    border: none;
    outline: none;
}
.newsletter input:focus {
    outline: none;
  }
  
.newsletter span {
    background: #fedac5;
    padding: 5px 30px;
    border-radius: 5px;
  }
  
.newsletter span i {
    color: #F9813A;
  }
  
.newsletter input::placeholder {
    color: black;
}
.social__links span i {
    padding : 5px;
    background: white;
    color: #ed3f00;
    border-radius: 50%;
}
.copyright__text {
    font-size: 0.8rem;
    color: #fedac5;
}

/* RESPONSIVE TABLET + MOBILE */
@media only screen and (max-width: 768px) {
    .newsletter span {
        padding: 7px;
    }
    .newsletter {
        padding: 10px;
        
    }
  }
  @media only screen and (max-width: 576px) {
    
  }